# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Python venv
venv/
backend/venv/
Backend/venv/

# Python cache
__pycache__/
*.pyc

# Node
node_modules/
frontend/node_modules/

# Next
.next/
frontend/.next/

# Env
.env
.env.local
# Next.js
.next/

# Env files
.env
.env.local

# Logs
*.log

# OS
.DS_Store
Thumbs.db